alias ll="ls -lhAF"
alias lls="ls -lhAFS"
alias tm="tmux"
alias activate=". .venv/bin/activate"


#git
alias g='git'
alias ga='git add'
alias gb='git branch -a'
alias gc='git commit -m'
alias gch='git checkout'
alias gcl='git clone'
alias gd='git diff'
alias gf='git fetch'
alias gl='git log'
alias glo='git log --pretty="format:%C(yellow)%h %C(green)%ci %C(reset)%s %C(red)%d %C(cyan)[%an]"'
alias glg='glo --all --graph'
alias gm='git merge'
alias gps='git push'
alias gpl='git pull'
alias gr="git remote -v"
alias grm="git rm"
alias gs='git status'
