alias ll="ls -lhF"
alias lla="ls -lhAF"
alias lls="ls -lhAFS"
alias tm="tmux"
alias activate=". .venv/bin/activate"
alias clip='xsel --clipboard --input'

#git
alias g='git'
alias ga='git add'
alias gb='git branch -a'
alias gc='git commit -m'
alias gch='git checkout'
alias gcl='git clone'
alias gd='git diff'
alias gf='git fetch'
alias gl='git log --pretty="format:%C(yellow)%h %C(green)%ci %C(cyan)[%an] %C(reset)%s"'
alias glg='gl --all --graph'
alias gm='git merge'
alias gmv='git mv'
alias gps='git push'
alias gpl='git pull'
alias gr="git remote -v"
alias grm="git rm"
alias gs='git status'
