#set linenumbers
set autoindent
set tabsize 4
set minibar
set tabstospaces
set constantshow
set mouse

# syntax highlight
include "~/dotfiles/resources/nanorc/*.nanorc"

# Color　文字,背景
set titlecolor white,gray
set numbercolor white,gray
set statuscolor white,gray
set keycolor white,gray
set functioncolor white,gray
